/********************GENERAL********************/
body {
    background-image: url("https://raw.githubusercontent.com/Lucasgomez14/arg-prom-4.0-frontend/main/Arg.Prog%204.0/teoria/TrabajoEntrega/imgpngs/pruebaFondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;    
}

/********************IDS DE DECORACION********************/
#tituloCV
{
    text-align: center;
    font-size: 80px;
}
#fotoCV
{
    margin-top: 50px;
    margin-left: -40px;
    border: 1px solid; color: black;
}
#lateralesIzquierdos
{
    border-right: 1px solid black;
}

#lateralesDerechos
{
    border-left: 1px solid black;
}
#lateralCentral
{
    border-bottom: 1px solid black;
}

#titulo
{
    text-align: left;
    font-size: 65px;
}
#subtitulo
{
    text-align: left;
    font-size: 55px;
    color: rgb(65, 77, 30);
   
}

#textoParaIconitos
{
    display: inline-block;
    vertical-align: top;
}
#iconitos
{
    height: 25px;
    width: 25px;
}

#margenesh5
{
    margin-left: 55px;
}

#debajoh5
{
    margin-left: 55px;
    opacity: 0.5;
}

/********************CLASES DE DECORACION********************/

.margen
{
    margin-top:15px;
    margin-bottom:10px;
}
.iconitosPrincipales
{
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 25px;
}

.iconitosSubtitulos
{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 10px;
}

.iconitosSkills
{
    margin-top: 13px;
    margin-right: 15px;
    margin-left: 55px;
}

.subtitulos
{
    color: black;
    display: inline-block;
    font-size: 40px;
    vertical-align: top;
    margin: 2px;
    border-bottom: 1px solid black;
}
.subtitulos:hover
{
    color: rgb(56, 55, 55);
}

.textoIconitos{
    color: black;
    opacity: 0.50;
    font-size: 30px;
    margin: 2px;
}

.parrafos
{
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
    margin-left: 10px;
}
.listaspan
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 24px;
}
.h5Educacion
{
    margin-top: 17px;
}

/********************BOTONES********************/

.acordeon{
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }

.acordeon:hover
{
    transform: scale(1.01);
}
  .panel {
    padding: 10px 20px;
    display: none;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 20%;
    border-left: 1px solid rgba(0, 0, 0, 0.354);
    border-right: 1px solid rgba(0, 0, 0, 0.354);
  }

#botonesTransparentes
  {
    background-color: transparent;
    border-radius: 15px;
  }

